# Preliminary Steps

## Analysis of WestRoxbury.csv

Description of variables in West Roxbury (Boston) Home Value Dataset

- *TOTAL VALUE*: Total assessed value for property, in thousands of USD
- *TAX*: Tax bill amount based on total assessed value multiplied by the tax rate, in USD
- *LOT SQ FT*: Total lot size of parcel (ft 2 )
- *YR BUILT*: Year the property was built
- *GROSS AREA*: Gross floor area
- *LIVING AREA*: Total living area for residential properties (ft 2 )
- *FLOORS*: Number of floors
- *ROOMS*: Total number of rooms
- *BEDROOMS*: Total number of bedrooms
- *FULL BATH*: Total number of full baths
- *HALF BATH*: Total number of half baths
- *KITCHEN*: Total number of kitchens
- *FIREPLACE*: Total number of fireplaces
- *REMODEL*: When the house was remodeled (recent/old/none)

Packages imports and data load:

In [1]:
# Import required packages
from typing import List, Tuple
import numpy as np
import pandas as pd

from sklearn.preprocessing import MinMaxScaler, StandardScaler

def print_values(l: List[Tuple]):
    """Receives a list of 2-dimensional on the form ('desc','vals') and print them."""
    for desc, vals in l:
        print(desc + ":")
        print(vals)
        print("\n")

# Load data
housing_df = pd.read_csv("../datasets/WestRoxbury.csv")
info = [("DataFrame Dimension", housing_df.shape),
        ("First five rows", housing_df.head())]
print_values(info)

DataFrame Dimension:
(5802, 14)


First five rows:
   TOTAL VALUE    TAX  LOT SQFT   YR BUILT  GROSS AREA   LIVING AREA  FLOORS   \
0         344.2  4330       9965      1880         2436         1352      2.0
1         412.6  5190       6590      1945         3108         1976      2.0
2         330.1  4152       7500      1890         2294         1371      2.0
3         498.6  6272      13773      1957         5032         2608      1.0
4         331.5  4170       5000      1910         2370         1438      2.0

   ROOMS  BEDROOMS   FULL BATH  HALF BATH  KITCHEN  FIREPLACE REMODEL
0      6          3          1          1        1          0    None
1     10          4          2          1        1          0  Recent
2      8          4          1          1        1          0    None
3      9          5          1          1        1          1    None
4      7          3          2          0        1          0    None

Renaming the colums:

In [2]:
housing_df.columns = [s.strip().replace(" ", "_").lower() for s in housing_df.columns]
print(housing_df.columns)

Index(['total_value', 'tax', 'lot_sqft', 'yr_built', 'gross_area',
       'living_area', 'floors', 'rooms', 'bedrooms', 'full_bath', 'half_bath',
       'kitchen', 'fireplace', 'remodel'],
      dtype='object')

Showing some rows with `loc` and `iloc`:

In [3]:
# loc[a:b] gives rows a to b, inclusive
info = list()
info.append(("loc", housing_df.loc[0:3]))

# iloc[a:b] gives rows a to b-1
info.append(("iloc", housing_df.iloc[0:4]))

print_values(info)

loc:
   total_value   tax  lot_sqft  yr_built  gross_area  living_area  floors  \
0        344.2  4330      9965      1880        2436         1352     2.0
1        412.6  5190      6590      1945        3108         1976     2.0
2        330.1  4152      7500      1890        2294         1371     2.0
3        498.6  6272     13773      1957        5032         2608     1.0

   rooms  bedrooms  full_bath  half_bath  kitchen  fireplace remodel
0      6         3          1          1        1          0    None
1     10         4          2          1        1          0  Recent
2      8         4          1          1        1          0    None
3      9         5          1          1        1          1    None


iloc:
   total_value   tax  lot_sqft  yr_built  gross_area  living_area  floors  \
0        344.2  4330      9965      1880        2436         1352     2.0
1        412.6  5190      6590      1945        3108         1976     2.0
2        330.1  4152      7500      1890        2294         1371     2.0
3        498.6  6272     13773      1957        5032         2608     1.0

   rooms  bedrooms  full_bath  half_bath  kitchen  fireplace remodel
0      6         3          1          1        1          0    None
1     10         4          2          1        1          0  Recent
2      8         4          1          1        1          0    None
3      9         5          1          1        1          1    None

Different ways to show the first 3 values for `total_value`:

In [4]:
print(housing_df["total_value"][0:3])
print(housing_df.iloc[0:3]["total_value"])
print(housing_df.iloc[0:3].total_value) # only when the column name does not have spaces

0    344.2
1    412.6
2    330.1
Name: total_value, dtype: float64
0    344.2
1    412.6
2    330.1
Name: total_value, dtype: float64
0    344.2
1    412.6
2    330.1
Name: total_value, dtype: float64

Show the second row of the first ten columns:

In [5]:
print(housing_df.iloc[2][0:10])
print(housing_df.iloc[2, 0:10])
print(housing_df.iloc[2:3, 0:10]) # use a slice to return a data frame

total_value    330.1
tax             4152
lot_sqft        7500
yr_built        1890
gross_area      2294
living_area     1371
floors           2.0
rooms              8
bedrooms           4
full_bath          1
Name: 2, dtype: object
total_value    330.1
tax             4152
lot_sqft        7500
yr_built        1890
gross_area      2294
living_area     1371
floors           2.0
rooms              8
bedrooms           4
full_bath          1
Name: 2, dtype: object
   total_value   tax  lot_sqft  yr_built  gross_area  living_area  floors  \
2        330.1  4152      7500      1890        2294         1371     2.0

   rooms  bedrooms  full_bath
2      8         4          1

Concatenating columns:

In [6]:
# Use pd.concat to combine non-consecutive columns into a new data frame.
# The axis argument specifies the dimension along which the
# concatenation happens, 0=rows, 1=columns.
pd.concat([housing_df.iloc[4:6, 0:2], housing_df.iloc[4:6, 4:6]],
          axis=1)

   total_value   tax  gross_area  living_area
4        331.5  4170        2370         1438
5        337.4  4244        2124         1060

Specifying a full column:

In [7]:
(housing_df.iloc[:,0:1],
 housing_df.total_value)

(      total_value
 0           344.2
 1           412.6
 2           330.1
 3           498.6
 4           331.5
 ...           ...
 5797        404.8
 5798        407.9
 5799        406.5
 5800        308.7
 5801        447.6

 [5802 rows x 1 columns],
 0       344.2
 1       412.6
 2       330.1
 3       498.6
 4       331.5
         ...
 5797    404.8
 5798    407.9
 5799    406.5
 5800    308.7
 5801    447.6
 Name: total_value, Length: 5802, dtype: float64)

Descriptive Statistics:

In [8]:
print("Number of rows: ", len(housing_df.total_value)) # show lenght of the total_value column
print("Mean of 'total_value': ", housing_df.total_value.mean()) # show mwan of column
housing_df.describe() # show summary statistics for each column

Number of rows:  5802
Mean of 'total_value':  392.6857149258877

,total_value,tax,lot_sqft,yr_built,gross_area,living_area,floors,rooms,bedrooms,full_bath,half_bath,kitchen,fireplace
count,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.00000,5802.000000
mean,392.685715,4939.485867,6278.083764,1936.744916,2924.842123,1657.065322,1.683730,6.994829,3.230093,1.296794,0.613926,1.01534,0.739917
std,99.177414,1247.649118,2669.707974,35.989910,883.984726,540.456726,0.444884,1.437657,0.846607,0.522040,0.533839,0.12291,0.565108
min,105.000000,1320.000000,997.000000,0.000000,821.000000,504.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.00000,0.000000
25%,325.125000,4089.500000,4772.000000,1920.000000,2347.000000,1308.000000,1.000000,6.000000,3.000000,1.000000,0.000000,1.00000,0.000000
50%,375.900000,4728.000000,5683.000000,1935.000000,2700.000000,1548.500000,2.000000,7.000000,3.000000,1.000000,1.000000,1.00000,1.000000
75%,438.775000,5519.500000,7022.250000,1955.000000,3239.000000,1873.750000,2.000000,8.000000,4.000000,2.000000,1.000000,1.00000,1.000000
max,1217.800000,15319.000000,46411.000000,2011.000000,8154.000000,5289.000000,3.000000,14.000000,9.000000,5.000000,3.000000,2.00000,4.000000

# Sampling in `pandas`

In [9]:
# random sample of 5 observations
print(housing_df.sample(5))

# oversample houses with over 10 rooms
weights = [0.9 if rooms > 10 else 0.01 for rooms in housing_df.rooms]
print(housing_df.sample(5, weights=weights))

      total_value   tax  lot_sqft  yr_built  gross_area  living_area  floors  \
1441        298.1  3750      4052      1959        2463         1313     1.5
582         325.9  4099      5992      1964        2904         1566     1.5
1175        317.5  3994      8250      1935        2276         1250     1.5
4780        379.9  4779      5254      1950        2852         1306     1.5
3007        292.6  3680      6000      1931        2292         1146     1.0

      rooms  bedrooms  full_bath  half_bath  kitchen  fireplace remodel
1441      6         3          2          0        1          1  Recent
582       8         3          2          1        1          1    None
1175      6         2          2          0        1          1    None
4780      7         4          1          1        1          1    None
3007      5         2          1          0        1          1    None
      total_value   tax  lot_sqft  yr_built  gross_area  living_area  floors  \
5447       603.36  7590      8945      1950        4952         2827     2.0
2608       410.90  5169      4700      1968        2822         1586     2.0
2589       530.30  6671     10000      1890        4628         2908     2.0
3283       639.60  8046     12500      1910        6287         3493     2.0
2453       564.70  7103      7676      1907        3596         2360     2.0

      rooms  bedrooms  full_bath  half_bath  kitchen  fireplace remodel
5447     12         4          4          0        1          1  Recent
2608     12         3          2          1        1          1    None
2589     11         6          1          1        1          1    None
3283     12         4          1          1        1          2    None
2453     11         5          2          1        1          1  Recent

# Preprocessing and Cleaning the Data

In [10]:
info = list()

# Column names
info.append(("Columns", housing_df.columns))

# Remodel needs to be converted to a categorical variable
housing_df.remodel = housing_df.remodel.astype("category")

# Show the number of categories
info.append(("Categories", housing_df.remodel.cat.categories)) 
# Check type of converted variable
info.append(("Column type", housing_df.remodel.dtype))

print_values(info)

Columns:
Index(['total_value', 'tax', 'lot_sqft', 'yr_built', 'gross_area',
       'living_area', 'floors', 'rooms', 'bedrooms', 'full_bath', 'half_bath',
       'kitchen', 'fireplace', 'remodel'],
      dtype='object')


Categories:
Index(['None', 'Old', 'Recent'], dtype='object')


Column type:
category

To create binary dummies (indicators):

In [11]:
# Use drop_first=True to drop the first dummy variable
housing_df = pd.get_dummies(housing_df, prefix_sep="_", drop_first=True)
print(housing_df.columns)

Index(['total_value', 'tax', 'lot_sqft', 'yr_built', 'gross_area',
       'living_area', 'floors', 'rooms', 'bedrooms', 'full_bath', 'half_bath',
       'kitchen', 'fireplace', 'remodel_Old', 'remodel_Recent'],
      dtype='object')

In [12]:
print(housing_df.loc[:, ["remodel_Old", "remodel_Recent"]].head())

   remodel_Old  remodel_Recent
0            0               0
1            0               1
2            0               0
3            0               0
4            0               0

# Imputing Missing Data

In [13]:
# To illustrate missing data procedures, we first convert a few entries for
# bedrooms to NA’s. Then we impute these missing values using the median of the
# remaining values.

print("Number of rows with valid 'bedrooms' values before setting to NAN: ",
      housing_df.bedrooms.count())

# remove rows with missing values
missing_rows = housing_df.sample(10).index
housing_df.loc[missing_rows, "bedrooms"] = np.nan
reduced_df = housing_df.dropna()
print("Number of rows after removing rows with missing values: ",
      len(reduced_df.bedrooms))

# replace the missing values using the median of the remaining values
median_bedrooms = housing_df.bedrooms.median()
housing_df.bedrooms = housing_df.bedrooms.fillna(value=median_bedrooms)
print("Number of rows with valid 'bedrooms' values after filling NA values: ",
      housing_df.bedrooms.count())

Number of rows with valid 'bedrooms' values before setting to NAN:  5802
Number of rows after removing rows with missing values:  5792
Number of rows with valid 'bedrooms' values after filling NA values:  5802

# Normalizing and rescaling data

In [14]:
df = housing_df.copy()

# Normalizing a data frame
# pandas:
norm_df = (housing_df - housing_df.mean()) / housing_df.std()

# scikit-learn:
# the result of the transformation is a numpy array, we convert it into a dataframe
scaler = StandardScaler()
norm_df = pd.DataFrame(scaler.fit_transform(housing_df),
                       index=housing_df.index,
                       columns=housing_df.columns)

# Rescaling a data frame
# pandas:
norm_df = (housing_df - housing_df.min()) / (housing_df.max() - housing_df.min())

# scikit-learn:
scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(housing_df),
                       index=housing_df.index,
                       columns=housing_df.columns)